form
  .large-10.columns
    .row
      large-12.columns
        h3 Masour AlMansouri
    .row
      .large-12.columns
        label.left.inline Emplode Code
    .row
      .large-12.columns
        label.left.inline Personal ID
    .row
      .large-12.columns
        label.left.inline Employee Bank
    .row
      .large-12.columns
        label.left.inline IBAN/Account *
    .row
      .large-12.columns
        label.left.inline Nationality
    .row
      .large-12.columns
        label.left.inline Religion
    .row
      .large-12.columns
        label.left.inline Address
    .row
      .large-12.columns
        label.left.inline Dte of Birth
    .row
      .large-12.columns
        label.left.inline Effective Date 22/07/2010 2yeas and 6 months
    .row
      .large-12.columns
        label.left.inline Ending Date

  .large-2.columns.row-padding-10
    .row
      .large-12.columns
        img(src="images/icon-user.png")
    .row
      .large-12.columns.text-center
        button.button.tiny Edit


  //- .row
  //-   .large-2.columns
  //-     label.right.inline Label
  //-   .large-10.columns
  //-     input#right-label(type="text",placeholder="Inline text input")
  //- .row
  //-   .large-2.columns
  //-     label.right.inline Label
  //-   .large-10.columns
  //-     input#right-label(type="text",placeholder="Inline text input")
//- <form>
//-   <div class="row">
//-     <div class="small-8 columns">
//-       <div class="row">
//-         <div class="small-3 columns">
//-           <label for="right-label" class="right inline">Label</label>
//-         </div>
//-         <div class="small-9 columns">
//-           <input type="text" id="right-label" placeholder="Inline Text Input">
//-         </div>
//-       </div>
//-     </div>
//-   </div>
//- </form>