.how-to-use
	.title
		h2 How To Use
		p Integer venenatis sagittis sodales. Aliquam rutrum, est a gravida eleifend, lacus purus consequat ipsum, ut vulputate nisi magna sed metus.

	.icon-arrow
		
	ol
		each val in ["Select Questionnaire", "Answer Each Question", "Find Information & Resources"]
			li
				strong= val

.footer
	.row
		.large-12.columns
			include ./topics.jade
							
	.row.footer-bottom
		.large-12.columns
			p.footer-right Built in Hybrid Forges <br /> &copy; 2014 Alis Prototype All Rights Reserved.
			p.footer-left <span displaytext="ShareThis" class="st_sharethis_custom"></span><span displaytext="Facebook" class="st_facebook_custom"></span><span displaytext="Tweet" class="st_twitter_custom"></span><span displaytext="Tumblr" class="st_tumblr_custom"></span><span displaytext="Email" class="st_email_custom"></span>