meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
title Alis Prototype
link(rel='stylesheet', href='assets/css/app.css')
script(src='bower_components/modernizr/modernizr.js')
script(src='//use.typekit.net/rqc6gfe.js')
script.
  try{Typekit.load();}catch(e){}
script(type='text/javascript').
  var switchTo5x=true;
script(type='text/javascript', src='http://w.sharethis.com/button/buttons.js')
script(type='text/javascript').
  stLight.options({publisher: "8b05e823-bed5-49a3-bdcd-86b5bc2b7641", doNotHash: false, doNotCopy: false, hashAddressBar: false});
