script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/foundation/js/foundation.min.js')
script(src='assets/js/handlebars-v2.0.0.js')
script(src='assets/js/handlebars-helpers.js')
script(src='assets/js/app.js')