.topbar-container
  .topbar
    .row.topbar-content
      .large-12.columns
        h1.branding
          a(href='index.html') Alis Prototype
    
        nav.topbar-nav
          ul.topbar-nav-sub
            li
              a(href='static.html') About Us
            li
              a(href='static.html') Methodology
            li
              a(href='for-service-providers.html') For Service Providers
            li
              a(href='static.html') Contact Us
            li.last
              form.form-search
                input.form-search-input(type="search", placeholder='Search')
            
          ul.topbar-nav-main
            li.has-dropdown
              a(href='topics.html') Family Law
              .topbar-topics 
                .row
                  .large-12.columns
                    ul
                      li
                        a(href='subsection.html') Starting Family Relationships
                      li
                        a(href='subsection.html') Issues in Ongoing Family Relationships
                      li
                        a(href='subsection.html') Ending Family Relationships
                      li
                        a(href='subsection.html') Family Violence
                      li
                        a(href='subsection.html') Options for Solving Problems

            li 
              a(href='common-questions.html') Common Questions                    
            li 
              a(href='myths.html') Myths
            li 
              a(href='static.html') Glossary
            li          
              a.btn(href='questindex.html') Take A Questionnaire
              
        a.mobile-nav.lines-button.show-for-small-only.x
          span.lines
        