.topic-sections
  ul.topic-section
    li
      a(href='static.html') Identifying Good Resources
    li
      a(href='static.html') How to Find Good Resources
    li
      a(href='static.html') Site Map
    li
      a(href='static.html') Contact Us

  ul.topic-section
    li
      a(href='static.html') Content Owner 
    li
      a(href='static.html') Content Policy
    li
      a(href='static.html') Disclaimer

      
